*{
    margin: 0;
    padding: 0;
  }
  
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(11, 6, 56, 0.801);
    color: aliceblue;
    position: relative;
  }
  
  h1{
     text-align: center;
      background-color: rgba(11,6,56,0.801);
      width: 100%;
      height: 50px;
      color: aliceblue;
      font-size: 60px;
      height: 89px;
  }
  
  .name-banner{
    display: block;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    height: 89px;
    position: fixed;
    text-align: center;
    margin-top: 120px;
    border: 1px solid rgba(255, 187, 0, 0.359);
    border-bottom: 2.5px solid rgba(255, 187, 0, 0.359);
    border-top: none;
  }

  header input, select{
    border-radius: 4px;
    padding: 7px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 1.1em;
    border: 1px solid rgba(12, 12, 72, 0.353);
  }

  #enviar, #reset{
    background-color: rgba(15, 146, 190, 0.801);
    color: azure;
  }

  form{
    margin-top: 15px;
  }
  
#max_personas {
    width: 110px;
  }

  header input:first-child{
    width: 150px;
  }

  .container-habitacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .habitacion{
    display: block;
    border: 1px solid rgba(14, 100, 116, 0.172);
    margin-top: 100px;
    width: 70%;
    border-radius: 5px;
  }

  .content-habitacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
  }

  .img-habitacion{
    width: 40%;
  }
  
  .img-habitacion img{
    width: 90%;
    margin: 30px;
    border-radius: 25px;
  }

  .info-hab{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 25px;
  }

  .info-hab > p{
    margin-top: 20px;
    font-size: 20px;
  }

  .datos-hab{
    display: block;
  }
  
.precio{
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    margin-top: 30px;
  }

.precio select{
  font-size: 15px;
}

.precio input{
  border-radius: 4px;
  padding: 7px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 5px;
  border: 1px solid rgba(12, 12, 72, 0.353);
  background-color: rgba(15, 146, 190, 0.801);
  color: azure;
}

.precio {

}